.site_tools {
  display: flex;
  flex: 1 0 20%;
  justify-content: flex-end;
  align-items: center;

  a {
    padding: 0 20px;
    @include hoverUnderline();

    @media(max-width: $desktop) {
      padding: 0 15px;
    }

    h4 {
      text-transform: capitalize;
    }
  }

  .site_tools__search {
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;

    @media(max-width: $desktop) {
      padding: 0 15px;
    }

    &:hover, &:focus-within {
      input, input:focus {
        width: 180%;
        border: 1px solid $black;
        padding: 5px;
      }
    }

    img {
      margin-right: 8px;
    }

    input {
      width: 0;
      padding: 5px;
      border: none;
      transition: all 250ms ease;
      position: absolute;
      right: 100px;
      border-radius: 3px;  
      font-size: 1.4rem;    
    }
  }

  .site_tools__bag {
    display: flex;
    align-items: center;

    &:hover {
      div {
        &:after {
          height: 100%;
        }

        h5 {
          color: $black;
        }
      }
    }

    div {
      border-radius: 100%;
      margin: 5px 0 0 5px;
      background-color: $black;
      border: 1px solid $black;
      width: 21px;
      height: 21px;
      text-align: center;
      overflow: hidden;
      z-index: 1;

      @include hoverSlideUp($white);

      h5 {
        position: relative;
        z-index: 1;
        font-family: $DP400;
        color: $white;
      }
    }
  }
}