@mixin hoverUnderline() {
  h4 {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      opacity: 0;
      width: 100%;
      bottom: -5px;
      left: 0;
      transition: 250ms;
      border-bottom: 1px solid $black;
    }
  }
  
  &:hover {
    h4 {
      &:after {
        opacity: 1;
        bottom: 0;
      }
    }
  }
}
