.footer_top {
  display: flex;
  padding: 50px 30px;

  @media (max-width: $desktop) {
    flex-wrap: wrap;
    padding: 40px 30px;
  }

  .footer_top__col {
    flex: 0 0 25%;

    @media (max-width: $desktop) {
      flex: 0 0 33%;
    }

    p {
      margin-bottom: 20px;
      font-family: $DP400;
      letter-spacing: 0.38px;
    }

    > a {
      margin-bottom: 5px;
      display: block;

      &:hover {
        h5 {
          text-decoration: underline;
        }
      }

      h5 {
        font-family: $DPLight300;
      }
    }

    &:first-child {
      @media (max-width: $desktop) {
        flex: 1 0 100%;
        display: flex;
        padding-top: 35px;
        align-items: center;
        order: 4;
      }

      .social {
        @media (max-width: $desktop) {
          display: flex;
          flex-direction: column;
          padding-left: 30px;
        }

        h5 {
          padding: 10px 0;

          @media (max-width: $desktop) {
            padding: 0 0 10px;
          }
        }

        .social__icons {
          display: flex;

          a {
            border-radius: 100%;
            padding: 10px 0;
            background-color: lightGray;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;

            &:hover {
              img {
                transform: scale(1.2);
              }
            }

            @media (max-width: $desktop) {
              padding: 6px 0;
              width: 32px;
            }
            img {
              transition: all 250ms ease;
              max-width: 50%;
            }
          }
        }
      }
    }

    &:last-child {
      .practitioner_login {
        margin-top: 30px;

        a {
          background-color: $black;
          border: 2px solid $black;
          display: inline-block;
          padding: 11px 46px;

          @media (max-width: $desktopLrg) {
            padding: 11px 20px;
          }

          h5 {
            color: $white;
            text-transform: uppercase;
            font-family: $DPMedium500;
            letter-spacing: 1.17px;
          }

          &:hover {
            background-color: $white;

            h5 {
              color: $black;
            }
          }
        }
      }
    }
  }
}
