.emailInput {
  display: flex;
  margin: 25px 0;

  input {
    background-color: $black;
    color: $white;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: 15px 15px 15px 20px;
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
  }

  > div {
    display: flex;
    flex: 0 0 16%;
    align-items: center;
    justify-content: center;
    background-color: $black;
    cursor: pointer;
    transform: translateX(-1px);

    &:hover {
      img {
        animation-duration: 400ms;
        animation-timing-function: ease-out;
        animation-name: pushRight;
      }
    }
  }
}

@keyframes pushRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}