/* colours */
$white: #ffffff;
$gray: #414141;
$lightGray: #F8F7F7;
$black: #000000;

/* fonts */
$DP400: "DIN Pro 400";
$DPItalic400: "DIN Pro Italic 400";
$DPLight300: "DIN Pro Light 300";
$DPLightItalic300: "DIN Pro Light Italic 300";
$DPMedium500: "DIN Pro Medium 500";
$DPMediumItalic500: "DIN Pro Medium Italic 500";
