.features_container__feature {
  flex: 0 0 15%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(max-width: $desktopLrg) {
    flex: 0 0 20%;
  }

  @media(max-width: $desktop) {
    flex: 0 0 25%;
  }

  div {
    text-align: center;

    > * {
      color: $white;
    }

    h4 {
      margin-bottom: 15px;
      letter-spacing: .33px;
    }
  }
}