.message {
  padding-bottom: 60px;

  @media(max-width: $desktopLrg) {
    padding-bottom: 40px;
  }

  h1 {
    padding-bottom: 30px;
  }

  h5 {
    a {
      font-family: $DPMedium500;
      text-decoration: underline;

      &:hover {
        color: $gray;
      }
    }
  }
}
