.product {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: 1px solid;
  border-bottom: 1px solid; 

  > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 25px;
    height: 100%;

    .product__img {
      display: flex;
      justify-content: center;
    }

    .product__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 50px 0 20px;

      .product__price {
        font-family: $DPMedium500;
      }

      &.product__details--new {
        padding: 20px 0;
      }

      .new_product {
        font-family: $DPMedium500;
        background-color: $black;
        color: $white;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 0 10px;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
    }
  }

  .product__add {
    border-top: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: linear-gradient(to bottom, transparent 50%, $black 50%);
    background-size: 100% 200%;
    background-position: left top;

    @include hoverSlideUp($black);

    h5 {
      text-transform: uppercase;
      font-family: $DPMedium500;
      position: relative;
      z-index: 1;
    }

    &:hover {
      cursor: pointer;

      h5 {
        color: $white;
      }
    }
  }
}