.recommendations {
  display: flex;
  border-right: 1px solid;
  border-left: 1px solid;

  @media(max-width: $desktopLrg) {
    flex-direction: column;
    border-left: none;
  }

  .recommendations__message,
  .recommendations__products {
    flex: 0 0 50%;

    @media(max-width: $desktopLrg) {
      flex: 0 0 100%;
    }

    > div {
      width: 70%;
    }
  }

  .recommendations__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    padding: 0 0 180px;

    @media(max-width: $desktopLrg) {
      border-left: 1px solid;
      padding: 50px 0;
    }
  }

  .recommendations__products {
    display: flex;
    flex-wrap: wrap;
  }
}