@font-face {
  font-family: "DIN Pro 400";
  src: url("../assets/fonts/DIN\ Pro\ 400.otf");
}

@font-face {
  font-family: "DIN Pro Italic 400";
  src: url("../assets/fonts/DIN\ Pro\ Italic\ 400.otf");
}

@font-face {
  font-family: "DIN Pro Light 300";
  src: url("../assets/fonts/DIN\ Pro\ Light\ 300.otf");
}

@font-face {
  font-family: "DIN Pro Light Italic 300";
  src: url("../assets/fonts/DIN\ Pro\ Light\ Italic\ 300.otf");
}

@font-face {
  font-family: "DIN Pro Medium 500";
  src: url("../assets/fonts/DIN\ Pro\ Medium\ 500.otf");
}

@font-face {
  font-family: "DIN Pro Medium Italic 500";
  src: url("../assets/fonts/DIN\ Pro\ Medium\ Italic\ 500.otf");
}
