html {
  font-size: 62.5%;
  overflow-x: hidden;

  .container {
    margin: 0 auto;
    width: $desktopLrg;

    @media(max-width: $desktopLrg) {
      width: $desktop;
    }

    @media(max-width: $desktop) {
      width: $tablet;
    }

    > div {
      width: 90%;
      margin: 0 auto;
    }
  }
}

