p, h1, h2, h3, h4, h5, h6, a, span, input, label {
  font-family: $DPLight300;
  font-weight: 300;
  letter-spacing: 0px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.2rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.3rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-family: $DP400;
  font-weight: 400;
}

h5 {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

h6 {
  font-size: 1.3rem;
  line-height: 2rem;
}

::placeholder {
  color: $white;
  opacity: 1;
}